@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  button {
    @apply select-none;
  }

  ::selection {
    @apply bg-neutral-400/20;
  }

  .top-dotted {
    @apply [background-image:linear-gradient(90deg,#1f1f1f_25%,transparent_25%)] [background-repeat:repeat-x] [background-size:4px_1px];
  }

  .bottom-dotted {
    @apply [background-image:linear-gradient(90deg,#1f1f1f_25%,transparent_25%)] [background-repeat:repeat-x] [background-size:4px_1px] [background-position:bottom];
  }

  .right-dotted {
    @apply [background-image:linear-gradient(0deg,#1f1f1f_25%,transparent_25%)] [background-position:100%] [background-repeat:repeat-y] [background-size:1px_4px];
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

* {
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgb(38, 38, 38) transparent;
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    #fff 30%,
    hsla(0, 0%, 100%, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}
