@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  button {
    @apply select-none;
  }

  ::selection {
    @apply bg-neutral-400/20;
  }
}

* {
  font-variant-ligatures: none;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgb(38, 38, 38) transparent;
}

.shiki {
  background-color: transparent !important;
  font-size: 14px;
}

.text-gradient {
  background: linear-gradient(
    to right bottom,
    #fff 30%,
    hsla(0, 0%, 100%, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}
